video {
    max-width: 100%;
}
#wranglerred {


    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 35%;
    box-sizing: border-box;
    padding: 60px;
    margin-bottom: -450px;
    left: 925px;

}
#wranglerredd {


    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 35%;
    box-sizing: border-box;
    padding: 60px;
    margin-bottom: -1350px;
    left: 900px;

}
#wranglerreddd {


    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 35%;
    box-sizing: border-box;
    padding: 60px;
    margin-bottom: -1850px;
    left: 900px;

}
div.gallery {
    margin: 5px;
    float: left;
    width: 350px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}